.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: auto;
    max-width: 1200px;
    width: 90%;
    grid-gap: 0;
}

section.grid-item.grid-item-1 {
    grid-column: 1 / span 3;
    background-color: darkslategray;
    height: 50px;
}

.LogoButton {
    background-color: darkslategray;
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    width: 50px;
    font-weight: bold;
}

ul {
    list-style-type: none;
    margin: 0;
    padding-top: 5px;
    padding-left: 750px;
    display: inline;
    color: snow;
}

li {
    display: inline;
}

    li a {
        color: snow;
        text-decoration: none;
        font-size: 10px;
        margin: 5px;
    }

section.grid-item.grid-item-2 {
    grid-column: 1 / span 2;
    height: 300px;
    background-image: url('Img/tuscany-villas-sant-anna.jpg');
    background-size:cover;
}

.textSec2 {
    position: relative;
    font-family:'Times New Roman';
    }
.textSec2 h1{
    color:snow;
    font-size:50px;
    margin-left:250px;
    margin-bottom:10px;
}
.textSec2 p{
    color:snow;
    font-size:20px;
    margin-left:275px;
}


section.grid-item.grid-item-3 {
    grid-column: 3 / span 1;
    height: 300px;
    
}

#imgSec3{
    height:100%;
    width:100%;
}


section.grid-item.grid-item-4 {
    grid-column: 1 / span 3;
    background-color: darkslategray;
    height: 100px;
}

.textSec4 h1 {
    color: snow;
    font-size: 25px;
    margin-left: 450px;
    margin-bottom: 10px;
}

.textSec4 p {
    color: snow;
    font-size: 10px;
    margin-left: 475px;
}



section.grid-item.grid-item-5 {
    grid-column: 1 / span 2;
    background-color: white;
    height:200px;
}

.textSec5 h1 {
    color: black;
    font-size: 25px;
    margin-left: 20px;
    margin-bottom: 10px;
}

.textSec5 p {
    color: black;
    font-size: 10px;
    margin-left: 20px;
    text-overflow:ellipsis;
}

.buttonSec5 {
    background-color: darkslategray;
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    font-size: 6px;
    margin: 4px 20px;
    width: 50px;
    font-weight: bold;
}

section.grid-item.grid-item-6 {
    grid-column: 3 / span 1;
    background-color: snow;
    height:200px;
}

#imgSec6 {
    height: 90%;
    width: 90%;
    margin:10px;
}

section.grid-item.grid-item-7 {
    grid-column: 1 / span 3;
    background-color: white;
    height:200px;
}

section.grid-item.grid-item-8 {
    grid-column: 1 / span 3;
    background-color: darkslategray;
    height:100px;
}

section.grid-item.grid-item-9 {
    grid-column: 1 / span 1;
    background-color: green;
    height:300px;
}

section.grid-item.grid-item-10 {
    grid-column: 2 / span 1;
    background-color: lawngreen;
    height: 300px;
}

section.grid-item.grid-item-11 {
    grid-column: 3 / span 1;
    background-color: black;
    height: 300px;
}

section.grid-item.grid-item-12 {
    grid-column: 1 / span 1;
    background-color: green;
    height: 300px;
}

section.grid-item.grid-item-13 {
    grid-column: 2 / span 1;
    background-color: lawngreen;
    height: 300px;
}

section.grid-item.grid-item-14 {
    grid-column: 3 / span 1;
    background-color:blue;
    height: 300px;
}
section.grid-item.grid-item-15 {
    grid-column: 1 / span 1;
    background-color: green;
    height: 300px;
}

section.grid-item.grid-item-16 {
    grid-column: 2 / span 1;
    background-color: lawngreen;
    height: 300px;
}

section.grid-item.grid-item-17 {
    grid-column: 3 / span 1;
    background-color: green;
    height: 300px;
}

section.grid-item.grid-item-18 {
    grid-column: 1 / span 3;
    background-color: black;
    height: 300px;
}

section.grid-item.grid-item-19 {
    grid-column: 1 / span 3;
    background-color: green;
    height: 300px;
}

section.grid-item.grid-item-20 {
    grid-column: 1 / span 3;
    background-color: black;
    height: 300px;
}